@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: var(--text-2xl); /* 1.5rem (24px) */ 
  line-height: var(--text-2xl--line-height); /* calc(2 / 1.5) */
  font-weight: 700;
}

.heading {
  font-size: var(--text-3xl); /* 1.5rem (24px) */ 
  line-height: var(--text-2xl--line-height); /* calc(2 / 1.5) */
  font-weight: 700;
  width: 100%;
}

h2 {
  margin-top: 0.3em;
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
  font-weight: 700;
}

h3 {
  font-size: var(--text-sm);
  font-weight: 600;
}

p {
  color: oklch(55.2% 0.016 285.938);
}

#map {
  height: 100vh;
}

.text-success {
  color: #039855;
}

.text-danger {
  color: #D92D20;
}

.maplibregl-marker {
  pointer-events: none;
}

.bg-blue {
  background-color: #0700AF;
}

.bg-green {
  background-color: #66A84C;
}

.bg-orange {
  background-color: #DC8603;
}

.bg-red {
  background-color: #C50204;
}

.bg-selected {
  background-color: #ffd230;
}

.text-blue {
  color: #0700AF;
}

.text-green {
  color: #66A84C;
}

.text-orange {
  color: #DC8603;
}

.text-red {
  color: #C50204;
}

.text-selected {
  color: #ffd230;
}

.smooth-redim {
  -moz-transition: width .3 ease, height .3 ease;
  -ms-transition: width .3 ease, height .3 ease;
  -o-transition: width .3 ease, height .3 ease;
  -webkit-transition: width .3 ease, height .3 ease;
  transition: width .3 ease, height .3 ease;
}

details {
  border: 1px var(--color-zinc-300) var(--tw-border-style);
  box-shadow: var(--shadow-md);
}